

body {
    background-color: #1A1A1A;
    color: white;
}

.merge-option {
    position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.merge-option h4 {
    margin: 0;
    padding: 5px;
}

.merge-description {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 0.6;

}

.stButton button {
    width: 220px;
}



